<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="white-space: nowrap;">{{data.title[0].text}}</mat-card-title>
    <mat-card-subtitle style="white-space: nowrap;">{{data.title[0].text}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img/crohouse.jpg" alt="">
  <mat-card-content>
    <p>
    {{data.placeholder[0].text}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>DETAILS</button>
  </mat-card-actions>
</mat-card>
