<div >
  <mat-card class="example-header-image" >
  <mat-card-header style="text-align:center; display:block;">
    <mat-card-title style="font-size:23px; color: cadetblue;">CroHouse Apartments</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <form>
    <img src="/assets/img/logo.png" width="150px" height="150px"   alt="crohouse.com">
  <mat-form-field style="padding:20px">
    <mat-select [(value)]="selected" placeholder="City" >
      <mat-option *ngFor="let item of cities | async" value="{{ item._id }}">{{ item.cityName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="padding:20px">
    <input matInput [matDatepicker]="picker" placeholder="Start date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="padding:20px">
    <input matInput [matDatepicker]="picker1" placeholder="End date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="padding:20px">
    <mat-select placeholder="Guests">
    <mat-option value="1">1</mat-option>
    <mat-option value="2">2</mat-option>
    <mat-option value="3">3</mat-option>
    </mat-select>
  </mat-form-field>

        <button mat-button style="width:100px;">Search</button>
</form>

</mat-card-content>
</mat-card>
<houses-list></houses-list>
  </div>
