.mat-card {
    background: none;
        color: rgba(0, 0, 0, 0.87);
}

.example-header-image {
  background-image: url("/assets/img/crohouse.png");
  background-size: cover;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  color: cadetblue;
}
