<div style="height: 100vh;">

    <div class="bgimg">
        <div class="topleft">
            <img src="/assets/img/logo.png" width="200px" height="200px" alt="crohouse.com">
            <br>
            <span style="font-size: 1.2em;"><b>Email : <a style="color:white;" href="mailto:info@crohuse.com">info@crohouse.com</a></b></span><br>
            <span style="font-size: 1.2em;">Instagram : <a style="color:white;" href="https://www.instagram.com/crohouse_com/" target="_blank">crohouse_com</a> </span><br>
            <span style="font-size: 1.3em;">Facebook : <a style="color:white;" href="https://www.facebook.com/crohousecroatia" target="_blank">crohouse.com</a></span>
        </div>
        <div class="middle">
            <h1>COMING SOON</h1>
            <hr>
            <input type="text" placeholder="Your Email" [(ngModel)]="email">
            <hr>
            <button [hidden]="loading" (click)="addEmail()">Subscribe</button>
            <p [hidden]="!loading">Thanks for Subscribing!</p>
        </div>
    </div>
</div>