<mat-form-field class="full-width">
    <input matInput placeholder="Search your location"
           autocorrect="off"
           autocapitalize="on"
           spellcheck="off" 
           type="text" 
           #search
           [formControl]="searchControl">
</mat-form-field>
<agm-map 
    (mapReady)="mapReady()" 
    [latitude]="location.latitude"
    [longitude]="location.longitude"
    [zoom]="zoom" 
    [scrollwheel]="false"
    (mapClick)="mapClicked($event)">
        <agm-marker *ngIf="showMarker"
        [latitude]="location.latitude"
        [longitude]="location.longitude"
        [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)">    
        </agm-marker>
</agm-map>
