<div class="page-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> List Groups</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-title">
                <a class="btn btn-primary" [routerLink]="['/property-new']">
                    Add New Property
                </a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>_id</th>
                            <th>Name</th>
                            <th>Summary</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of list | async">
                            <td class="semi-bold">#{{item._id}}</td>
                            <td>{{item.name[0].text}}</td>
                            <td>{{item.summary[0].text}}</td>
                            <td>
                                <p *ngIf="item.isActive == true && item.isEditMode == false">Active</p>
                                <p *ngIf="item.isActive==false && item.isEditMode == true">Draft</p>
                            </td>
                            <td class="min-width nowrap">
                                <a [routerLink]="['/backend/property-edit',item._id ]" class="btn-standard">Edit</a>-/-
                                <a href="javascript:;" (click)="deleteProperty(item)"
                                   class="btn-alert">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
