<div class="page-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> New property</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form-wizard [formGroup]="propertyForm">
            <wizard-step [title]="'Location'"
                         [isValid]="property.location.latitude && property.location.longitude"
                         (onNext)="addOrSaveProperty()">
                <app-location (onChange)="onChangeLocation($event)"></app-location>
                <h5>Longitude : {{property.location.longitude}} Latitude
                    : {{property.location.latitude}}</h5>
            </wizard-step>
            <wizard-step [title]="'Places'" (onNext)="addOrSaveProperty()">
                <!--<app-place *ngFor="let place of places | async" [place]="place" (selectedLength)="changedLength($event)"></app-place>-->
                <app-place
                        *ngFor="let placeForm of propertyForm.controls.places.controls; let i=index"
                        [group]="placeForm" [lengthUnits]="lengthUnits"
                        [place]="places[i]"></app-place>
            </wizard-step>
            <wizard-step [title]="'Activities'" (onNext)="addOrSaveProperty()">
                <div class="col-xs-12" *ngFor="let list of listing | async">
                    <h2 class="page-header"> {{list.listGroup.title[0].text}}</h2>
                    <div class="property-amenities">
                        <div *ngFor="let item of list.lists">
                            <label>
                                <input type="checkbox" (change)="onChangeList(item, $event.target.checked)">
                                {{item.title[0].text}}
                            </label>
                            <br>
                        </div>
                    </div>
                </div>
            </wizard-step>
            <wizard-step [title]="'Descriptions'" [isValid]="propertyForm.value.propertyName"
                         (onNext)="addOrSaveProperty()">

                <div class="form-group">
                    <label class="col-lg-2 m-t-10" for="inputPropName">Property name</label>
                    <div class="col-lg-10 m-t-10">
                        <input class="form-control" type="text" id="inputPropName" placeholder="Property name"
                               formControlName="propertyName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 m-t-10" for="inputPropHeadline">Property headline</label>
                    <div class="col-lg-10 m-t-10">
                        <input class="form-control" type="text" id="inputPropHeadline" placeholder="Property headline"
                               formControlName="propertyHeadline">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 m-t-10" for="inputSummary">Property summary</label>
                    <div class="col-lg-10 m-t-10">
                        <textarea class="form-control" id="inputSummary" rows="3"
                                  formControlName="propertySummary"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 m-t-10" for="inputPropDescription">Property description</label>
                    <div class="col-lg-10 m-t-10">
                        <textarea class="form-control" id="inputPropDescription" cols="30" rows="10"
                                  placeholder="Property description"
                                  formControlName="propertyDescription"></textarea>
                    </div>
                </div>
            </wizard-step>
            <wizard-step [title]="'Photos'" (onComplete)="saveProperty()">
                <h1>Pictures</h1>
                <app-picture-upload (onFile)="onImage($event)"></app-picture-upload>
                <h1 class="page-header">Uploaded pictures</h1>

                <div class="gallery">

                    <div class="col-sm-2 col-xs-12" *ngFor="let item of pictures | async">
                        <div class="gallery-item">
                            <div class="gallery-image">
                                <img [src]="item.url" [alt]="item.name"/>
                            </div><!-- /.gallery-image -->

                            <div class="gallery-caption">
                                <a href="javascript:;"
                                   (click)="deletePicture(item)"
                                   class="btn-alert">Delete</a>
                            </div><!-- /.gallery-caption -->
                        </div><!-- /.gallery-item -->
                    </div>
                </div>
            </wizard-step>
            <!--<wizard-step [title]="'Prices'"></wizard-step>-->
        </form-wizard>
    </div>
</div>

