table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    a {
        text-decoration: none;
        &.delete {
            color: #A52020;
            &:hover {
                color: #5C0A0A;
            }
        }
        &.edit {
            color: #A4A0A0;
            &:hover {
                color: black;
            }
        }
    }
}

th {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

tr:nth-child(even) {
    background-color: #dddddd;
}
