<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="80">
      <h1 class="home-intro-title">CroHouse Apartments</h1>
      <div class="home-intro-desc">
          Book holiday home in Croatia direct with the owner. <br/>
          CroHouse Apartments booking website offers all types of private accommodation for rent: rooms, studios, apartments, houses, villas and other vacation rentals in Croatia.
      </div>
    </div>
  </div>
  <div class="container">
    <rentals-search (onSearchSubmit)="onSearch($event)"></rentals-search>
  </div>
</section>