<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Length unit</h1>
    <div class="row">
        <mat-dialog-content>
            <mat-form-field>
                <input matInput formControlName="title" placeholder="Enter title">
            </mat-form-field>
        </mat-dialog-content>
    </div>
    <div class="row">
        <mat-dialog-actions>
            <button mat-button type="submit">Save</button>
            <button mat-button type="button" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </div>
</form>