<div class="header__navbar">
    <mat-toolbar class="transparent" style="background-color: transparent">
        <mat-toolbar-row>
            <img src="/assets/img/logo-light.png" class="header__navbar-logo">
            <span class="header__navbar-spacer"></span>
            <button mat-button routerLink="/front">Home</button>
            <button *ngIf="!user"mat-button routerLink="/front/register">Register</button>
            <button *ngIf="user" mat-button routerLink="/front/profile">Profile</button>
            <button *ngIf="!user" mat-button  routerLink="/login">Login</button>
            <button *ngIf="user" (click)="logout()" mat-button  routerLink="/">Logout</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>