
<div style="background-color: #88BCB7; border-radius: 8.2%;  margin-top: 10vh;" layout="row">
            <h1 style="text-align: center;">Accommodation type:  {{accommodationType}}</h1>
         <mat-form-field style="margin-left: 4vh; padding: 1.5vh;">
          <mat-select [(value)]="selected" placeholder="City" >
              <mat-option *ngFor="let item of addresses | async" value="{{ item._id }}">{{ item.city }}</mat-option>
          </mat-select>
         </mat-form-field>
         <mat-form-field style="margin-left:4vh; padding: 1.5vh;">
              <input matInput [matDatepicker]="picker" placeholder="Start date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>

         <mat-form-field style="margin-left:4vh; padding: 1.5vh;">
              <input matInput [matDatepicker]="picker1" placeholder="End date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
         </mat-form-field>

         <mat-form-field style="margin-left:4vh; padding: 1.5vh; ">
              <mat-select placeholder="Guests">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
              </mat-select>
         </mat-form-field>
      <button mat-button style="width:40vh; margin-left:4vh; padding: 1vh;">Search</button>
</div>
<houses-list></houses-list>