<div class="group-card-item" tabindex="0">
    <div class="group-card-item-header">
        <div *ngIf="data.title; else propTitle">
            {{data.title}}
        </div>
        <ng-template #propTitle>
            <div>
                {{data.name[0].text}}
            </div>
        </ng-template>
    </div>
    <img *ngIf="data.imageUrl; else propImg" mat-card-image src="{{data.imageUrl}}" class="group-card-image" />
    <ng-template #propImg>
        <img src="/assets/img/default-image.png" alt="" class="group-card-image">
    </ng-template>
</div>
