.group-card-item {
  width: 40vh;
  height: 31.4vh;
  margin-left: 1.1vh;
  margin-top: 5vh;
  border: 1px solid white;
  border-radius: 8.2%;
  background-color: transparent;
}
.group-card-image {
  height: 30vh;
  border-bottom-right-radius: 8.2%;
  border-bottom-left-radius: 8.2%;
}
