.group-card-item {
  transition: all .4s ease-in-out;
  width: 38vh;
  background-color: transparent;
  margin: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 2px 4px 67px -6px rgba(255, 255, 255, 1);
    -moz-box-shadow: 2px 4px 67px -6px rgba(255, 255, 255, 1);
    box-shadow: 2px 4px 67px -6px rgba(255, 255, 255, 1);

    transform: scale(1.1);
  }
}

.group-card-item-header {
  position: absolute;
  font-size: 2rem;
  bottom: 4px;
  width: inherit;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  div {
    text-align: center;
  }
}

.group-card-image {
  height: 30vh;
  object-fit: cover;
}
