.header__navbar {
  padding-top: 16px;
}

.header__navbar-logo {
  width: 120px;
}

.header__navbar-spacer {
  flex: 1 1 auto;
}

.toolbar-color {
  background-color:lightblue;
}
.mat-button{
   color:white;
   font-weight: bold;
   font-size: 15px;
}
