.rentals-search__container {
  font-size: 16px;
  padding: 32px 80px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.rentals-search__filters-container {
  display: flex;
  justify-content: space-around;
  mat-form-field {
    font-weight: bold;
    color: black !important;
    &.mat-form-field-hide-placeholder, .mat-select-placeholder {
      color: black !important;
    }
  }
  @media only screen and(max-width: 768px) {
    display: block;
  }
}

.rentals-search__dates-container, 
.rentals-search__filter-options-container {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-around;
  @media only screen and(max-width: 1100px) {
    display: block;
    padding: 16px;
    mat-form-field {
      display: block;
    }
  }
  @media only screen and(max-width: 768px) {
    width: 100%;
    padding: 0 16px;
  }
}

.rentals-search__action {
  display: block;
  text-align: center;
  margin-top: 16px;
  button {
    margin: 0px !important;
    width: 24rem !important;
    background: rgba(255,255,255, 0.8);
    color: black;
    -webkit-box-shadow: 3px 5px 54px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 5px 54px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 5px 54px 0px rgba(0,0,0,0.4);
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.rentals-seracth__form-error {

}
