<div class="login-container">
    <form class="login-form" [formGroup]="recoverForm" #f="ngForm" (ngSubmit)="recover()">
        <div class="login-form__create-new-acc-box">
            <a class="login-form__create-new-acc" [routerLink]="['/login']">Sign-in</a>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" type="email" value="" formControlName="email">
            </mat-form-field>
        </div>

        <div>
            <button type="submit" mat-raised-button mat-button color="primary">
                Recover
            </button>
        </div>
    </form>
</div>
