<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Apartments for rent.</h2>
      <p>
        Filter out our apartments and see what we are offering.
      </p>
        <p *ngIf="isEmptyObjectAndFilterOn(properties, filterOn)">
          <b>Oops... There is no results matching your criteria...</b>
        </p>
    </div>

    <div *ngIf="properties" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div *ngFor="let property of properties" fxFlex="33.33" class="house-card" (click)="openDialog(property)">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="/assets/images/front/sq-12.jpg">
          <mat-card-content>
              <h5>
                <strong>
                  <a href="">
                    {{property.name[0].text}}
                  </a>
                </strong>
              </h5>
            <p>
                {{property.headline[0].text}}
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>