<div class="page-wrapper">
    <div class="header header-standard header-call-to-action-wrapper">
        <div class="relative">
            <div class="blur header-background overflow-hidden"></div>

            <div class="header-background-inner">

                <div class="container">
                    <div class="header-inner">
                        <div class="header-main">
                            <div class="header-title">
                                <a href="javascript:;">
                                    <img src="../../../template/frontend/img/logo.png" alt="Vocation">
                                </a>
                            </div><!-- /.header-title -->
                            <div class="header-navigation">
                                <div class="nav-main-wrapper">
                                    <div class="nav-main-title visible-xs">
                                        <!--  <a href="javasript:;">
                                              <img src="../../../template/frontend/img/logo-blue.png" alt="Realsite">
                                          </a>
                                          -->
                                    </div><!-- /.nav-main-title -->

                                    <div class="nav-main-inner">
                                        <nav>
                                            <ul id="nav-main" class="nav nav-pills">

                                                <li class="important">
                                                    <a href="javascript:;">
                                                        About us
                                                    </a>
                                                </li>
                                                <li class="important">
                                                    <a href="javascript:;" [routerLink]="['/backend/dashboard']">
                                                        Backend
                                                    </a>
                                                </li>
                                            </ul><!-- /.nav -->
                                        </nav>
                                    </div><!-- /.nav-main-inner -->
                                </div><!-- /.nav-main-wrapper -->

                                <button type="button" class="navbar-toggle">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div><!-- /.header-navigation -->
                        </div><!-- /.header-main -->

                        <div class="header-call-to-action">
                            <h1>Material Design</h1>
                            <h2>
                                Ut aliquam sed mauris id sodales. Nulla suscipit, tellus et posuere ornare, lectus
                                tellus volutpat odio, quis laoreet mi enim quis arcu. Curabitur at commodo turpis,
                                at
                                tempus tellus. Duis non quam ut lorem hendrerit dapibus sit amet id quam.
                            </h2>

                            <!--<div class="buttons">
                                <a href="headers-call-to-action.html#" class="btn btn-lg">The agents</a>
                                <a href="headers-call-to-action.html#" class="btn btn-lg">The agencies</a>
                                <a href="headers-call-to-action.html#" class="btn btn-lg">The users</a>
                            </div>
                            -->
                        </div><!-- /.header-call-to-action -->
                    </div><!-- /.header-inner -->
                </div><!-- /.container -->
            </div><!-- /.header-background-inner-->
        </div><!-- /.relative -->
    </div><!-- /.header-->

    <router-outlet></router-outlet>

    <div id="footer" class="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-inner">
                    <div class="footer-bottom-left">
                        &copy; 2017 All rights reserved.
                    </div><!-- /.footer-bottom-left -->
                    <div class="footer-bottom-right">
                        Created by : Elvir Tabakovic
                    </div><!-- /.footer-bottom-right -->
                </div><!-- /.footer-bottom-inner -->
            </div><!-- /.container -->
        </div><!-- /.footer-bottom -->
    </div><!-- /.footer -->
</div><!-- /.page-wrapper-->
